[submodule "llama.cpp"]
	path = llama.cpp
	url = git@github.com:ggml-org/llama.cpp.git
[submodule "ollama"]
	path = ollama
	url = git@github.com:ollama/ollama.git
[submodule "ik_llama.cpp"]
	path = ik_llama.cpp
	url = https://github.com/ikawrakow/ik_llama.cpp
