[submodule "llama.cpp"]
	path = external/llama.cpp
	url = git@github.com:ggml-org/llama.cpp.git
[submodule "ollama"]
	path = external/ollama
	url = git@github.com:ollama/ollama.git
[submodule "ik_llama.cpp"]
	path = external/ik_llama.cpp
	url = https://github.com/ikawrakow/ik_llama.cpp
[submodule "Kokoro-FastAPI"]
	path = external/Kokoro-FastAPI
	url = https://github.com/remsky/Kokoro-FastAPI.git
[submodule "external/agent-cli"]
	path = external/agent-cli
	url = git@github.com:basnijholt/agent-cli.git
[submodule "external/ComfyUI"]
	path = external/ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git
